<div class="container">
  <H3>Create New Order!!</H3>
  <hr />
  <div class="regForm">
    <div class="row form-section">
      <div class="col-6">
        <form
        #newOrder="ngForm"
        (ngSubmit)="addNewOrder(newOrder)"
        style="font-size:large"
      >
        <label for="inputEmail" class="sr-only">Enter Name</label>
        <input
          name="customerName"
          #customerName="ngModel"
          ngModel
          type="name"
          id="inputEmail"
          class="form-control"
          placeholder="Full Name"
          required
        />
        <span
          *ngIf="customerName.invalid && customerName.touched"
          style="color: red"
          >Name required</span
        ><br />
        <label for="inputPassword" class="sr-only">Enter Contact Number</label>
        <input
          name="contactNumber"
          #contactNumber="ngModel"
          ngModel
          type="tel"
          id="inputPassword"
          class="form-control"
          placeholder="Contact Number"
          required
        />
        <span
          *ngIf="contactNumber.invalid && contactNumber.touched"
          style="color: red"
          >Contact required</span
        ><br />
        
        <p style="margin: 1px 0">Choose From Menu:</p>
        <div class="list-group" *ngFor="let f of allFoodProducts">
          <a
            class="list-group-item list-group-item-action"
            style="margin: 1px auto"
          >
            <div class="row" style="font-size: large">
              <p class="col-3">{{ f.name }}</p>
              <p class="col-2">{{ f.type }}</p>
              <p class="col-3"> &#8377; {{ f.price }}</p>
              <p class="col-2">{{ f.about }}</p>
              <div class="col-2 d-flex justify-content-end">
                <div>
                  <button
                    type="button"
                    class="quantity-inp"
                    (click)="addNewItem(f.id, f.price)"
                  >
                    +
                  </button>
                  <button type="button">
                    {{
                      this.itemCountMap.get(f.id)
                        ? this.itemCountMap.get(f.id)
                        : 0
                    }}
                  </button>
                  <button
                    type="button"
                    class="quantity-inp"
                    (click)="removeItem(f.id, f.price)"
                  >
                    -
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
        <h2 style="margin-top: 10px; display: flex; justify-content: right;margin-right: -110px;">
          Total price:
          <span id="totalPriceValue">{{ totalOrderPrice }}</span>
        </h2>
        <br />
        <button
          class="btn btn-lg btn-success btn-block"
          type="submit"
          style="width: 800px"
        >
          Make the Order!
        </button>
      </form>
      </div>
    </div>
  </div>
</div>
