<div class="registerPage">
      <div class="jumbotron">
        <div class="jumbotron-text">
          <span class="staff-details">
          <p>
            {{staff.name}}<br>
            {{staff.email}}
          </p></span>
          <button type="button" class="btn btn-danger" (click)="logout()">
            Logout</button>
        </div> 

        <div class="container">
          <div class="orders" style="margin-top: 30px">
            <button
              type="button"
              class="btn btn-primary create-order-btn"
              [routerLink]="['/create-order']"
            >
              Create New Food Order
            </button>
            <div class="input-group">
              <input
                type="search"
                class="form-control rounded"
                placeholder="Search for a particular Order  (According to Customer Name)"
                aria-label="Search"
                aria-describedby="search-addon"
                [(ngModel)]="searchOrder"
                (input)="filterOrders()"
              />
            </div>
            <br /><br />
            <div class="row row-cols-1 row-cols-md-4 g-2">
              <!-- <div class="col" *ngFor="let fo of allOrders.data | filter: searchOrder"> -->
              <div class="col" *ngFor="let fo of filteredOrders">
                <div class="card">
                  <div class="card-body" style="color: black">
                    <h5 class="card-title">Order ID : {{ fo.id }}</h5>
                    <h6>Name of the Customer : {{ fo.customerName }}</h6>
                    <h6>Contact Number : {{ fo.contactNumber }}</h6>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      Total Amount of the Order : <br />{{ fo.totalPrice }}
                    </li>
                    <li class="list-group-item">
                      Created At :<br />
                      {{ getDateTime(fo.orderCreatedTime) }}
                    </li>
                    <li *ngIf="fo.orderDeliveryTime" class="list-group-item">
                      Delivered At :<br />
                      {{ getDateTime(fo.orderDeliveryTime) }}
                    </li>
                    <li *ngIf="!fo.orderDeliveryTime" class="list-group-item">
                      Delivered At :<br />
                      Not Deliverd Yet
                    </li>

                    <div
                      class="card-footer text-success"
                      style="text-align: center; font-size: xx-large"
                    >
                      <select
                        class="form-control"
                        id="inputSelect"
                        name="status"
                        [(ngModel)]="fo.status"
                        (ngModelChange)="changeStatus($event, fo)"
                        [disabled]="fo.status === delivered"
                      >
                        <option value="confirmed">Confirmed</option>
                        <option value="delivered">Delivered</option>
                        <option value="process">In Process</option>
                      </select>
                    </div>
                  </ul>

                  <div class="card-body text-center">
                    <button
                      class="btn btn-warning"
                      style="width: 200px"
                      [routerLink]="['/bill', fo.id]"
                    >
                      View Bill</button
                    ><br /><br />

                    <button
                      class="btn btn-info"
                      style="width: 200px"
                      [routerLink]="['/edit-order/', fo.id]"
                      [disabled]="fo.status === delivered"
                    >
                      Edit the Order</button
                    ><br /><br />

                    <button
                      class="btn btn-danger"
                      style="width: 200px"
                      (click)="deleteFoodOrder(fo.id)"
                    >
                      Delete the Order
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
