<app-nav-manager></app-nav-manager>
<div>
  <div class="container">
    <div class="row" style="margin-top: 10px">
      <div class="col-6">
        <h4>FOOD PRODUCT DETAILS</h4>
      </div>

      <div class="col-6 d-flex flex-column align-items-end">
        <button
          routerLink="/addfoodproduct"
          type="button"
          class="btn btn-primary"
        >
          Create new Food Product
        </button>
      </div>
    </div>

    <div>
      <table class="table" style="margin-top: 10px">
        <thead class="table-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">About</th>
            <th scope="col">Price</th>
            <th scope="col">Availability</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of FoodProductList">
            <th>{{ d?.name }}</th>
            <td>{{ d?.type }}</td>
            <td>{{ d?.about }}</td>
            <td>$ {{ d?.price }}</td>
            <td>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  [checked]="d.availability"
                  (click)="changeAvailability(d.id, d)"
                  id="flexSwitchCheckDefault"
                />
              </div>
            </td>
            <td>
              <div>
                <button
                  type="button"
                  style="margin-right: 10px"
                  class="btn btn-success"
                  [routerLink]="['/editproduct', d?.id]"
                >
                  Edit
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  id="liveToastBtn"
                  (click)="deleteFoodProduct(d?.id)"
                >
                  Delete
                </button>
              </div>
            </td>
          </tr>
          <tr></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- <div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div
    id="liveToast"
    class="toast align-items-center text-bg-success border-0 fade show"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    *ngIf="deleteToast"
  >
    <div class="d-flex">
      <div class="toast-body">Deleted Successfully</div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        data-bs-dismiss="toast"
        aria-label="Close"
        (click)="changeToastVisibility()"
      ></button>
    </div>
  </div>
</div> -->
